<% if (typeof enviado == 'undefined') { visible = false } else { visible = true }; %>
<% if (typeof deshabilitado == 'undefined') { deshabilitado = false }; %>
<% disableItem = deshabilitado ? 'disabled' : ''; %> 
<% if (typeof nombre == 'undefined') { nombre = '' }; %>
<% if (typeof correo == 'undefined') { correo = '' }; %>
<% if (typeof mensaje == 'undefined') { mensaje = '' }; %>

<h1>Contacto</h1>

<form action="/contacto" method="post">
    <p class="p_form">
        <label for="nombre">Nombre: </label>
        </p>
        <input type="text" name="nombre" id="nombre" value="<%= nombre %>" required <%= disableItem %>>
    
    <p class="p_form">
        <label for="correo">Email: </label>
        </p>
        <input type="email" name="correo" id="correo" value="<%= correo %>" required <%= disableItem %>>
    <p class="p_form">
        <label for="mensaje">Mensaje: </label>
        </p>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10" required <%= disableItem %>><%= mensaje %></textarea>
   
    <br>
    <br>
   
        <button class="btEnviar" type="submit" <%= disableItem %>>Enviar</button>
   
</form>
<% if (typeof enviado !=='undefined' && enviado && visible) { %>
    <h1>¡Mensaje enviado con éxito!</h1>
    <% } else { if (visible) { %>
        <h1>Error de envío. Por favor, inténtelo de nuevo más tarde</h1>
        <% }} %> 
<br>
<div align="center">
    <button onclick="location.href='/'">Volver al Inicio</button>
</div>