<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
      </nav>
    </header>
    <main>
      <h1>Productos</h1>
      <!-- <table>
        <thead>
          <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach(producto => { %>
          <tr>
            <td><%= producto.id %></td>
            <td><%= producto.title %></td>
            <td><%= producto.price %></td>
            <td>
              <img
                src="<%= producto.image %>"
                alt="<%= producto.title %>"
                width="50"
              />
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table> -->
      <section class="products">
        <% productos.forEach(producto => { %>
        <article>
          <h2><%= producto.title %></h2>
          <p><%= producto.description %></p>
          <div style="text-align: center;">              
            <img 
                src="<%= producto.image %>"
                alt="<%= producto.title %>"
                width="50"
              />
          </div>
          
        </article>
        <% }); %>
      </section>
    </main>
    <footer>
      <small> &copy; 2024 Tienda Online </small>
    </footer>
  </body>
</html>
